.user_card {
    width: 400px;
    background: #4c8efa;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.form_container {
    margin-top: 10px;
}

#form-title {
    color: #fff;
}

.login_btn {
    background-color: #af5307;
    padding: 10px;
    border: 2px #150404 solid;
    padding-left: 36px;
    padding-right: 36px;
    color: #050404;
    border-radius: 8px;
    font-weight: normal;
    font-size: medium;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}